In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bandarbeyla,SO,2022-05-31 02:10:55,9.4942,50.8122,80.08,71,98,25.52
1,1,Yellowknife,CA,2022-05-31 02:10:56,62.4560,-114.3525,55.56,32,11,8.99
2,2,Barrow,US,2022-05-31 02:10:56,71.2906,-156.7887,30.22,80,100,6.91
3,3,Ushuaia,AR,2022-05-31 02:10:56,-54.8000,-68.3000,42.46,81,75,26.46
4,4,Maryborough,AU,2022-05-31 02:10:57,-25.5333,152.7000,71.11,45,74,10.13

In [31]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [32]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [33]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=1.2)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) 
            for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 30.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 89

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bandarbeyla,SO,2022-05-31 02:10:55,9.4942,50.8122,80.08,71,98,25.52
7,7,Kapaa,US,2022-05-31 02:10:57,22.0752,-159.3190,82.38,71,0,9.22
9,9,Avarua,CK,2022-05-31 02:10:58,-21.2078,-159.7750,75.25,94,75,8.05
11,11,Bud,US,2022-05-31 02:10:59,39.4470,-86.1758,80.58,70,6,7.36
12,12,Buala,SB,2022-05-31 02:10:59,-8.1450,159.5921,85.75,58,7,6.93
19,19,Hithadhoo,MV,2022-05-31 02:11:02,-0.6000,73.0833,83.57,69,87,11.77
22,22,Atuona,PF,2022-05-31 02:11:03,-9.8000,-139.0333,77.97,72,9,12.10
26,26,Broome,US,2022-05-31 02:11:05,42.2506,-75.8330,75.65,72,100,2.10
27,27,Nizwa,OM,2022-05-31 02:11:06,22.9333,57.5333,76.41,38,0,2.42
31,31,Georgetown,MY,2022-05-31 02:07:44,5.4112,100.3354,85.95,79,20,1.14

In [40]:
preferred_cities_df.count()

City_ID       236
City          236
Country       236
Date          236
Lat           236
Lng           236
Max Temp      236
Humidity      236
Cloudiness    236
Wind Speed    236
dtype: int64

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0   Bandarbeyla      SO     80.08   9.4942   50.8122
7         Kapaa      US     82.38  22.0752 -159.3190
9        Avarua      CK     75.25 -21.2078 -159.7750
11          Bud      US     80.58  39.4470  -86.1758
12        Buala      SB     85.75  -8.1450  159.5921
19    Hithadhoo      MV     83.57  -0.6000   73.0833
22       Atuona      PF     77.97  -9.8000 -139.0333
26       Broome      US     75.65  42.2506  -75.8330
27        Nizwa      OM     76.41  22.9333   57.5333
31   Georgetown      MY     85.95   5.4112  100.3354

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,80.08,9.4942,50.8122,JABIR HOTEL
7,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
11,Bud,US,80.58,39.4470,-86.1758,Ted McQuinn Trust
12,Buala,SB,85.75,-8.1450,159.5921,Maringe Lagoon Lodge

In [50]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [52]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))