In [42]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [43]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kieta,PG,2022-05-23 18:39:30,-6.2167,155.6333,78.66,84,99,2.30
1,1,Asau,RO,2022-05-23 18:39:31,46.4333,26.4000,58.12,100,98,1.30
2,2,Rikitea,PF,2022-05-23 18:39:31,-23.1203,-134.9692,75.78,75,30,13.13
3,3,Belle Glade,US,2022-05-23 18:36:29,26.6845,-80.6676,89.02,46,37,12.28
4,4,Arraial Do Cabo,BR,2022-05-23 18:39:31,-22.9661,-42.0278,75.16,64,40,19.57

In [44]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [46]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [47]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=1.2)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) 
            for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 30.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 86

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kieta,PG,2022-05-23 18:39:30,-6.2167,155.6333,78.66,84,99,2.30
2,2,Rikitea,PF,2022-05-23 18:39:31,-23.1203,-134.9692,75.78,75,30,13.13
4,4,Arraial Do Cabo,BR,2022-05-23 18:39:31,-22.9661,-42.0278,75.16,64,40,19.57
5,5,Labuhan,ID,2022-05-23 18:39:31,-6.8844,112.2051,79.79,83,100,9.19
7,7,Puerto Del Rosario,ES,2022-05-23 18:35:00,28.5004,-13.8627,71.35,73,75,19.57
8,8,Meulaboh,ID,2022-05-23 18:39:32,4.1363,96.1285,77.54,89,96,4.21
18,18,Sabha,LY,2022-05-23 18:39:34,27.0377,14.4283,85.48,9,61,12.64
20,20,Vaini,TO,2022-05-23 18:39:34,-21.2000,-175.2000,75.36,100,20,3.44
21,21,Saint-Philippe,RE,2022-05-23 18:39:35,-21.3585,55.7679,72.99,83,64,14.07
25,25,Vallenar,CL,2022-05-23 18:39:35,-28.5708,-70.7581,80.60,20,69,7.72

In [54]:
preferred_cities_df.count()

City_ID       211
City          211
Country       211
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [55]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0                Kieta      PG     78.66  -6.2167  155.6333
2              Rikitea      PF     75.78 -23.1203 -134.9692
4      Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
5              Labuhan      ID     79.79  -6.8844  112.2051
7   Puerto Del Rosario      ES     71.35  28.5004  -13.8627
8             Meulaboh      ID     77.54   4.1363   96.1285
18               Sabha      LY     85.48  27.0377   14.4283
20               Vaini      TO     75.36 -21.2000 -175.2000
21      Saint-Philippe      RE     72.99 -21.3585   55.7679
25            Vallenar      CL     80.60 -28.5708  -70.7581

In [60]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kieta,PG,78.66,-6.2167,155.6333,Uruna Bay Retreat
2,Rikitea,PF,75.78,-23.1203,-134.9692,People ThankYou
4,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
5,Labuhan,ID,79.79,-6.8844,112.2051,DoubleFAG
7,Puerto Del Rosario,ES,71.35,28.5004,-13.8627,Hotel JM Puerto del Rosario

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [73]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [74]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))